<div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" id="homeNav" href="#">Employee</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" id="fileReimbNav">File a Reimbursement</a>
      <a class="nav-item nav-link" id="viewPastNav">View Past Reimbursement Requests</a>
      <a class="nav-item nav-link" id="logOut">Log Out</a>
    </div>
  </div>
</nav>
</div>
<div class="mx-auto" style="width: 800px">
<br>
<br>
<div class="container jumbotron bg-white">
  <div class="panel panel-default">
    <div class="panel-body">
<h3 class="text-center">Welcome to the Employee Home Page!</h3>
<hr>
<h5 class="text-center">Use the Navbar at the Top to Review Your Reimbursement Requests</h5>

<script src = "Project1.js" type="text/javascript"></script>
</div>
</div>
</div>
</div>