<div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" id="homeNav" href="#">Manager</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" id="pendingNav">Review Pending Requests</a>
      <a class="nav-item nav-link" id="oldNav">View Past Requests</a>
      <a class="nav-item nav-link" id="logoutNav">Log Out</a>
    </div>
  </div>
</nav>
</div>

<div class="mx-auto" style="width: 800px">
<br>
<br>
<div class="container jumbotron bg-white">
  <div class="panel panel-default">
    <div class="panel-body">
<h3 class="text-center">Past Reimbursement Requests</h3>
<hr>
<table id="oldReimbList" class = "table table-bordered">
	<thead class="thead-light">
	<tr>
		<th scope="col">Author</th>
		<th scope="col">Date Submitted</th>
		<th scope="col">Description</th>
		<th scope="col">Amount</th>
		<th scope="col">Approved/Denied</th>
		<th scope="col">Date Resolved</th>
	</tr>
	</thead>
</table>
</div>
</div>
</div>
</div>